{# This file is obolete. Need to find a way to pass data from this view to add it to db. #}

{#        # Tried to make list of api searches and then add option to select one#}
{#        # but it was too complicated, probably need cache for that?#}
{#        ##}
{#        # context = {'books': self.books}#}
{#        # return render(request, "list.html", context=context)#}

{% extends 'base.html' %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Authors</th>
      <th scope="col">Published</th>
      <th scope="col">Language</th>
    </tr>
  </thead>
  <tbody>
        {% for book in books.items %}
        <tr>
            <td>{{ book.volumeInfo.title }}</td>
            <td>{{ book.volumeInfo.authors }}</td>
            <td>{{ book.volumeInfo.publishedDate }}</td>
            <td>{{ book.volumeInfo.language }}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="index" value="1" />
    <input type="submit" class="btn btn-primary" value="post"/>
</form>
{% endblock %}


